# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
infos
*.env.local
.venvq
.venv

agmarknet_prices_unique_index.sql
important-files-created-in-chat.txt
plan_commodity_fix.txt
plan-agriTrade-prompt.md 
plan_new.txt
plan-series.txt
supabase-public-read-pattern.txt
procss.txt
OWelcomeAuth.jsx

*.__pycache__
.__pycache__
__pycache__

.env
# Added by ggshield
.cache_ggshield
