@import "tailwindcss";
@import 'leaflet/dist/leaflet.css';

*, *::before, *::after {
  box-sizing: border-box;
  font-family: 'Manrope', sans-serif;
}

body {
  margin: 0;
  background: #EDEAE0;
  font-family: 'Manrope', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  width: 100%;
  min-height: 100svh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
